<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Attention Seekers</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>jello</string>
				<key>function</key>
				<string>ytx_jelloAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>wobble</string>
				<key>function</key>
				<string>ytx_wobbleAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>swing</string>
				<key>function</key>
				<string>ytx_swingAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rubberBand</string>
				<key>function</key>
				<string>ytx_rubberBandAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>pluse</string>
				<key>function</key>
				<string>ytx_pulseAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>flash</string>
				<key>function</key>
				<string>ytx_flashAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bounce</string>
				<key>function</key>
				<string>ytx_bounceAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tada</string>
				<key>function</key>
				<string>ytx_tadaAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>shake</string>
				<key>function</key>
				<string>ytx_shakeAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Bouncing Entrances</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>bounle</string>
				<key>function</key>
				<string>ytx_bounceInAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bouncelnDown</string>
				<key>function</key>
				<string>ytx_bounceInDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bouncelnLeft</string>
				<key>function</key>
				<string>ytx_bounceInLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bouncelnRight</string>
				<key>function</key>
				<string>ytx_bounceInRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bouncelnUp</string>
				<key>function</key>
				<string>ytx_bounceInUpAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Bouncing Exits</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>bounOut</string>
				<key>function</key>
				<string>ytx_bounceOutAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bounceOutDown</string>
				<key>function</key>
				<string>ytx_bounceOutDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bounceOutLeft</string>
				<key>function</key>
				<string>ytx_bounceOutLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bounceOutRight</string>
				<key>function</key>
				<string>ytx_bounceOutRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bounceOutUp</string>
				<key>function</key>
				<string>ytx_bounceOutUpAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fading Entrances</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>fadeIn</string>
				<key>function</key>
				<string>ytx_fadeInAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInDown</string>
				<key>function</key>
				<string>ytx_fadeInDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInDownBig</string>
				<key>function</key>
				<string>ytx_fadeInDownBigAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInLeft</string>
				<key>function</key>
				<string>ytx_fadeInLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInLeftBig</string>
				<key>function</key>
				<string>ytx_fadeInLeftBigAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInRight</string>
				<key>function</key>
				<string>ytx_fadeInRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInRightBig</string>
				<key>function</key>
				<string>ytx_fadeInRightBigAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInUp</string>
				<key>function</key>
				<string>ytx_fadeInUpAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeInUpBig</string>
				<key>function</key>
				<string>ytx_fadeInUpBigAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fading Exits</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>fadeOut</string>
				<key>function</key>
				<string>ytx_fadeOutAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutDown</string>
				<key>function</key>
				<string>ytx_fadeOutDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutDownBig</string>
				<key>function</key>
				<string>ytx_fadeOutDownBigAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutLeft</string>
				<key>function</key>
				<string>ytx_fadeOutLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutLeftBig</string>
				<key>function</key>
				<string>ytx_fadeOutLeftBigAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutRight</string>
				<key>function</key>
				<string>ytx_fadeOutRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutRightBig</string>
				<key>function</key>
				<string>ytx_fadeOutRightBigAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutUp</string>
				<key>function</key>
				<string>ytx_fadeOutUpAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fadeOutUpBig</string>
				<key>function</key>
				<string>ytx_fadeOutUpBigAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom Exits</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>zoomOut</string>
				<key>function</key>
				<string>ytx_zoomOutAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomOutDown</string>
				<key>function</key>
				<string>ytx_zoomOutDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomOutLeft</string>
				<key>function</key>
				<string>ytx_zoomOutLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomOutRight</string>
				<key>function</key>
				<string>ytx_zoomOutRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomOutUp</string>
				<key>function</key>
				<string>ytx_zoomOutUpAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Flippers</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>flip</string>
				<key>function</key>
				<string>ytx_flipAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>flipInX</string>
				<key>function</key>
				<string>ytx_flipInXAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>flipInY</string>
				<key>function</key>
				<string>ytx_flipInYAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>flipOutX</string>
				<key>function</key>
				<string>ytx_flipOutXAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>flipOutY</string>
				<key>function</key>
				<string>ytx_flipOutYAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>LightSpeed</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>lightSpeedIn</string>
				<key>function</key>
				<string>ytx_lightSpeedInAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>lightSpeedOut</string>
				<key>function</key>
				<string>ytx_lightSpeedOutAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Special</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>hinge</string>
				<key>function</key>
				<string>ytx_hingeAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rollIn</string>
				<key>function</key>
				<string>ytx_rollInAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rollOut</string>
				<key>function</key>
				<string>ytx_rollOutAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom Entrances</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>zoomIn</string>
				<key>function</key>
				<string>ytx_zoomInAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomInLeft</string>
				<key>function</key>
				<string>ytx_zoomInLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomInRight</string>
				<key>function</key>
				<string>ytx_zoomInRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomInDown</string>
				<key>function</key>
				<string>ytx_zoomInDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zoomInUp</string>
				<key>function</key>
				<string>ytx_zoomInUpAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Slide Exits</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>slideOutDown</string>
				<key>function</key>
				<string>ytx_slideOutDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideOutLeft</string>
				<key>function</key>
				<string>ytx_slideOutLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideOutRight</string>
				<key>function</key>
				<string>ytx_slideOutRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideOutUp</string>
				<key>function</key>
				<string>ytx_slideOutUpAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Slide Entrances</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>slideInDown</string>
				<key>function</key>
				<string>ytx_slideInDownAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideInLeft</string>
				<key>function</key>
				<string>ytx_slideInLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideInRight</string>
				<key>function</key>
				<string>ytx_slideInRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideInUp</string>
				<key>function</key>
				<string>ytx_slideInUpAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rotating Entrances</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>rotateIn</string>
				<key>function</key>
				<string>ytx_rotateInAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateInDownLeft</string>
				<key>function</key>
				<string>ytx_rotateInDownLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateInDownRight</string>
				<key>function</key>
				<string>ytx_rotateInDownRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateInUpRight</string>
				<key>function</key>
				<string>ytx_rotateInUpRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateInUpLeft</string>
				<key>function</key>
				<string>ytx_rotateInUpLeftAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rotating Exits</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>rotateOut</string>
				<key>function</key>
				<string>ytx_rotateOutAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateOutDownLeft</string>
				<key>function</key>
				<string>ytx_rotateOutDownLeftAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateOutDownRight</string>
				<key>function</key>
				<string>ytx_rotateOutDownRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateOutUpRight</string>
				<key>function</key>
				<string>ytx_rotateOutUpRightAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rotateOutUpLeft</string>
				<key>function</key>
				<string>ytx_rotateOutUpLeftAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
