<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CSShake</string>
		<key>sub</key>
		<dict>
			<key>Basic Shake</key>
			<string>ytx_basicShakeAnimtionWithDurationTime:</string>
			<key>Little Shake</key>
			<string>ytx_littleShakeAnimtionWithDurationTime:</string>
		</dict>
	</dict>
</array>
</plist>
