<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CSShake</string>
		<key>sub</key>
		<dict>
			<key>Basic Shake</key>
			<string>ytx_basicShakeAnimtion</string>
			<key>Little Shake</key>
			<string>ytx_littleShakeAnimtion</string>
			<key>Slow Shake</key>
			<string>ytx_slowShakeAnimtion</string>
			<key>Hard Shake</key>
			<string>ytx_hardShakeAnimtion</string>
			<key>Horizontal Shake</key>
			<string>ytx_horizontalShakeAnimtion</string>
			<key>Vertical Shake</key>
			<string>ytx_verticalShakeAnimtion</string>
			<key>Rotate Shake</key>
			<string>ytx_rotateShakeAnimtion</string>
			<key>Opacity Shake</key>
			<string>ytx_opacityShakeAnimtion</string>
			<key>Crazy Shake</key>
			<string>ytx_crazyShakeAnimtion</string>
		</dict>
	</dict>
</array>
</plist>
