<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CSShake</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>Basic Shake</string>
				<key>function</key>
				<string>ytx_basicShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Little Shake</string>
				<key>function</key>
				<string>ytx_littleShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Slow Shake</string>
				<key>function</key>
				<string>ytx_slowShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hard Shake</string>
				<key>function</key>
				<string>ytx_hardShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Horizontal Shake</string>
				<key>function</key>
				<string>ytx_horizontalShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Vertical Shake</string>
				<key>function</key>
				<string>ytx_verticalShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Rotate Shake</string>
				<key>function</key>
				<string>ytx_rotateShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Opacity Shake</string>
				<key>function</key>
				<string>ytx_opacityShakeAnimtion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Crazy Shake</string>
				<key>function</key>
				<string>ytx_crazyShakeAnimtion</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
