<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Attention Seekers</string>
		<key>sub</key>
		<dict>
			<key>jello</key>
			<string>ytx_jelloAnimtionWithDurationTime:</string>
			<key>wobble</key>
			<string>ytx_wobbleAnimtionWithDurationTime:</string>
			<key>swing</key>
			<string>ytx_swingAnimtionWithDurationTime:</string>
			<key>rubberBand</key>
			<string>ytx_rubberBandAnimtionWithDurationTime:</string>
			<key>pluse</key>
			<string>ytx_pluseAnimtionWithDurationTime:</string>
			<key>flash</key>
			<string>ytx_flashAnimtionWithDurationTime:</string>
			<key>bounce</key>
			<string>ytx_bounceAnimtionWithDurationTime:</string>
			<key>tada</key>
			<string>ytx_tadaAnimtionWithDurationTime:</string>
			<key>shake</key>
			<string>ytx_shakeAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Bouncing Entrances</string>
		<key>sub</key>
		<dict>
			<key>bounle</key>
			<string>ytx_bouncelnAnimtionWithDurationTime:</string>
			<key>bouncelnDown</key>
			<string>ytx_bouncelnDownAnimtionWithDurationTime:</string>
			<key>bouncelnLeft</key>
			<string>ytx_bouncelnLeftAnimtionWithDurationTime:</string>
			<key>bouncelnRight</key>
			<string>ytx_bouncelnRightAnimtionWithDurationTime:</string>
			<key>bouncelnUp</key>
			<string>ytx_bouncelnUpAnimtionWithDurationTime:</string>
		</dict>
	</dict>
</array>
</plist>
