<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Attention Seekers</string>
		<key>sub</key>
		<dict>
			<key>jello</key>
			<string>ytx_jelloAnimtionWithDurationTime:</string>
			<key>wobble</key>
			<string>ytx_wobbleAnimtionWithDurationTime:</string>
			<key>swing</key>
			<string>ytx_swingAnimtionWithDurationTime:</string>
			<key>rubberBand</key>
			<string>ytx_rubberBandAnimtionWithDurationTime:</string>
			<key>pluse</key>
			<string>ytx_pluseAnimtionWithDurationTime:</string>
			<key>flash</key>
			<string>ytx_flashAnimtionWithDurationTime:</string>
			<key>bounce</key>
			<string>ytx_bounceAnimtionWithDurationTime:</string>
			<key>tada</key>
			<string>ytx_tadaAnimtionWithDurationTime:</string>
			<key>shake</key>
			<string>ytx_shakeAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Bouncing Entrances</string>
		<key>sub</key>
		<dict>
			<key>bounle</key>
			<string>ytx_bounceInAnimtionWithDurationTime:</string>
			<key>bouncelnDown</key>
			<string>ytx_bounceInDownAnimtionWithDurationTime:</string>
			<key>bouncelnLeft</key>
			<string>ytx_bounceInLeftAnimtionWithDurationTime:</string>
			<key>bouncelnRight</key>
			<string>ytx_bounceInRightAnimtionWithDurationTime:</string>
			<key>bouncelnUp</key>
			<string>ytx_bounceInUpAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Fading Entrances</string>
		<key>sub</key>
		<dict>
			<key>fadeIn</key>
			<string>ytx_fadeInAnimtionWithDurationTime:</string>
			<key>fadeInDown</key>
			<string>ytx_fadeInDownAnimtionWithDurationTime:</string>
			<key>fadeInDownBig</key>
			<string>ytx_fadeInDownBigAnimtionWithDurationTime:</string>
			<key>fadeInLeft</key>
			<string>ytx_fadeInLeftAnimtionWithDurationTime:</string>
			<key>fadeInLeftBig</key>
			<string>ytx_fadeInLeftBigAnimtionWithDurationTime:</string>
			<key>fadeInRight</key>
			<string>ytx_fadeInRightAnimtionWithDurationTime:</string>
			<key>fadeInRightBig</key>
			<string>ytx_fadeInRightBigAnimtionWithDurationTime:</string>
			<key>fadeInUp</key>
			<string>ytx_fadeInUpAnimtionWithDurationTime:</string>
			<key>fadeInUpBig</key>
			<string>ytx_fadeInUpBigAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Fading Exits</string>
		<key>sub</key>
		<dict>
			<key>fadeOut</key>
			<string>ytx_fadeOutAnimtionWithDurationTime:</string>
			<key>fadeOutDown</key>
			<string>ytx_fadeOutDownAnimtionWithDurationTime:</string>
			<key>fadeOutDownBig</key>
			<string>ytx_fadeOutDownBigAnimtionWithDurationTime:</string>
			<key>fadeOutLeft</key>
			<string>ytx_fadeOutLeftAnimtionWithDurationTime:</string>
			<key>fadeOutLeftBig</key>
			<string>ytx_fadeOutLeftBigAnimtionWithDurationTime:</string>
			<key>fadeOutRight</key>
			<string>ytx_fadeOutRightAnimtionWithDurationTime:</string>
			<key>fadeOutRightBig</key>
			<string>ytx_fadeOutRightBigAnimtionWithDurationTime:</string>
			<key>fadeOutUp</key>
			<string>ytx_fadeOutUpAnimtionWithDurationTime:</string>
			<key>fadeOutUpBig</key>
			<string>ytx_fadeOutUpBigAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom Exits</string>
		<key>sub</key>
		<dict>
			<key>zoomOut</key>
			<string>ytx_zoomOutAnimtionWithDurationTime:</string>
			<key>zoomOutDown</key>
			<string>ytx_zoomOutDownAnimtionWithDurationTime:</string>
			<key>zoomOutLeft</key>
			<string>ytx_zoomOutLeftAnimtionWithDurationTime:</string>
			<key>zoomOutRight</key>
			<string>ytx_zoomOutRightAnimtionWithDurationTime:</string>
			<key>zoomOutUp</key>
			<string>ytx_zoomOutUpAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Flippers</string>
		<key>sub</key>
		<dict>
			<key>flip</key>
			<string>ytx_flipAnimtionWithDurationTime:</string>
			<key>flipInX</key>
			<string>ytx_flipInXAnimtionWithDurationTime:</string>
			<key>flipInY</key>
			<string>ytx_flipInYAnimtionWithDurationTime:</string>
			<key>flipOutX</key>
			<string>ytx_flipOutXAnimtionWithDurationTime:</string>
			<key>flipOutY</key>
			<string>ytx_flipOutYAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Special</string>
		<key>sub</key>
		<dict>
			<key>hinge</key>
			<string>ytx_hingeAnimtionWithDurationTime:</string>
			<key>rollIn</key>
			<string>ytx_rollInAnimationWithDurationTime:</string>
			<key>rollOut</key>
			<string>ytx_rollOutAnimationWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom Entrances</string>
		<key>sub</key>
		<dict>
			<key>zoomIn</key>
			<string>ytx_zoomInAnimtionWithDurationTime:</string>
			<key>zoomInLeft</key>
			<string>ytx_zoomInLeftAnimtionWithDurationTime:</string>
			<key>zoomInRight</key>
			<string>ytx_zoomInRightAnimtionWithDurationTime:</string>
			<key>zoomInDown</key>
			<string>ytx_zoomInDownAnimtionWithDurationTime:</string>
			<key>zoomInUp</key>
			<string>ytx_zoomInUpAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Slide Exits</string>
		<key>sub</key>
		<dict>
			<key>slideOutDown</key>
			<string>ytx_slideOutDownAnimtionWithDurationTime:</string>
			<key>slideOutLeft</key>
			<string>ytx_slideOutLeftAnimtionWithDurationTime:</string>
			<key>slideOutRight</key>
			<string>ytx_slideOutRightAnimtionWithDurationTime:</string>
			<key>slideOutUp</key>
			<string>ytx_slideOutUpAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Slide Entrances</string>
		<key>sub</key>
		<dict>
			<key>slideInDown</key>
			<string>ytx_slideInDownAnimtionWithDurationTime:</string>
			<key>slideInLeft</key>
			<string>ytx_slideInLeftAnimtionWithDurationTime:</string>
			<key>slideInRight</key>
			<string>ytx_slideInRightAnimtionWithDurationTime:</string>
			<key>slideInUp</key>
			<string>ytx_slideInUpAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Rotating Entrances</string>
		<key>sub</key>
		<dict>
			<key>rotateInDownLeft</key>
			<string>ytx_rotateInDownLeftAnimtionWithDurationTime:</string>
			<key>rotateIn</key>
			<string>ytx_rotateInAnimtionWithDurationTime:</string>
			<key>rotateInDownRight</key>
			<string>ytx_rotateInDownRightAnimtionWithDurationTime:</string>
			<key>rotateInUpRight</key>
			<string>ytx_rotateInUpRightAnimtionWithDurationTime:</string>
			<key>rotateInUpLeft</key>
			<string>ytx_rotateInUpLeftAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Rotating Exits</string>
		<key>sub</key>
		<dict>
			<key>rotateOutDownLeft</key>
			<string>ytx_rotateOutDownLeftAnimtionWithDurationTime:</string>
			<key>rotateOut</key>
			<string>ytx_rotateOutAnimtionWithDurationTime:</string>
			<key>rotateOutDownRight</key>
			<string>ytx_rotateOutDownRightAnimtionWithDurationTime:</string>
			<key>rotateOutUpRight</key>
			<string>ytx_rotateOutUpRightAnimtionWithDurationTime:</string>
			<key>rotateOutUpLeft</key>
			<string>ytx_rotateOutUpLeftAnimtionWithDurationTime:</string>
		</dict>
	</dict>
</array>
</plist>
