<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Magic Effects</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>magic</string>
				<key>function</key>
				<string>ytx_magicAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>twisterInDown</string>
				<key>function</key>
				<string>ytx_twisterInDownAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>twisterInUp</string>
				<key>function</key>
				<string>ytx_twisterInUpAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>swap</string>
				<key>function</key>
				<string>ytx_swapAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Static Effects</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>openDownLeft</string>
				<key>function</key>
				<string>ytx_openDownLeftAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openDownRight</string>
				<key>function</key>
				<string>ytx_openDownRightAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openUpLeft</string>
				<key>function</key>
				<string>ytx_openUpLeftAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openUpRight</string>
				<key>function</key>
				<string>ytx_openUpRightAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openDownLeftRetourn</string>
				<key>function</key>
				<string>ytx_openDownLeftRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openDownRightRetourn</string>
				<key>function</key>
				<string>ytx_openDownRightRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openUpLeftRetourn</string>
				<key>function</key>
				<string>ytx_openUpLeftRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openUpRightRetourn</string>
				<key>function</key>
				<string>ytx_openUpRightRetournAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Static Effects Out</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>openDownLeftOut</string>
				<key>function</key>
				<string>ytx_openDownLeftOutAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openDownRightOut</string>
				<key>function</key>
				<string>ytx_openDownRightOutAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openUpLeftOut</string>
				<key>function</key>
				<string>ytx_openUpLeftOutAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>openUpRightOut</string>
				<key>function</key>
				<string>ytx_openUpRightOutAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Perspective Effects</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>perspectiveDown</string>
				<key>function</key>
				<string>ytx_perspectiveDownAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveUp</string>
				<key>function</key>
				<string>ytx_perspectiveUpAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveLeft</string>
				<key>function</key>
				<string>ytx_perspectiveLeftAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveRight</string>
				<key>function</key>
				<string>ytx_perspectiveRightAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveUpRetourn</string>
				<key>function</key>
				<string>ytx_perspectiveUpRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveDownRetourn</string>
				<key>function</key>
				<string>ytx_perspectiveDownRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveLeftRetourn</string>
				<key>function</key>
				<string>ytx_perspectiveLeftRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>perspectiveRightRetourn</string>
				<key>function</key>
				<string>ytx_perspectiveRightRetournAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rotate</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>RotateDown</string>
				<key>function</key>
				<string>ytx_rotateDownAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RotateUp</string>
				<key>function</key>
				<string>ytx_rotateUpAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RotateLeft</string>
				<key>function</key>
				<string>ytx_rotateLeftAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RotateRight</string>
				<key>function</key>
				<string>ytx_rotateRightAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Slide</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>slideDown</string>
				<key>function</key>
				<string>ytx_slideDownAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideLeft</string>
				<key>function</key>
				<string>ytx_slideLeftAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideRight</string>
				<key>function</key>
				<string>ytx_slideRightAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideUp</string>
				<key>function</key>
				<string>ytx_slideUpAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideDownRetourn</string>
				<key>function</key>
				<string>ytx_slideDownRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideLeftRetourn</string>
				<key>function</key>
				<string>ytx_slideLeftRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideRightRetourn</string>
				<key>function</key>
				<string>ytx_slideRightRetournAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>slideUpRetourn</string>
				<key>function</key>
				<string>ytx_slideUpRetournAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Math</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>swashOut</string>
				<key>function</key>
				<string>ytx_swashOutAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>swashIn</string>
				<key>function</key>
				<string>ytx_swashInAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>foolishOut</string>
				<key>function</key>
				<string>ytx_foolishOutAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>foolishIn</string>
				<key>function</key>
				<string>ytx_foolishInAnimtionWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>holeOut</string>
				<key>function</key>
				<string>ytx_holeOutAnimtionWithDurationTime:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
