<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Magic Effects</string>
		<key>sub</key>
		<dict>
			<key>magic</key>
			<string>ytx_magicAnimtionWithDurationTime:</string>
			<key>twisterInDown</key>
			<string>ytx_twisterInDownAnimtionWithDurationTime:</string>
			<key>twisterInUp</key>
			<string>ytx_twisterInUpAnimtionWithDurationTime:</string>
			<key>swap</key>
			<string>ytx_swapAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Static Effects</string>
		<key>sub</key>
		<dict>
			<key>openDownLeft</key>
			<string>ytx_openDownLeftAnimtionWithDurationTime:</string>
			<key>openDownRight</key>
			<string>ytx_openDownRightAnimtionWithDurationTime:</string>
		</dict>
	</dict>
</array>
</plist>
