<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Magic Effects</string>
		<key>sub</key>
		<dict>
			<key>magic</key>
			<string>ytx_magicAnimtionWithDurationTime:</string>
			<key>twisterInDown</key>
			<string>ytx_twisterInDownAnimtionWithDurationTime:</string>
			<key>twisterInUp</key>
			<string>ytx_twisterInUpAnimtionWithDurationTime:</string>
			<key>swap</key>
			<string>ytx_swapAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Static Effects</string>
		<key>sub</key>
		<dict>
			<key>openDownLeft</key>
			<string>ytx_openDownLeftAnimtionWithDurationTime:</string>
			<key>openDownRight</key>
			<string>ytx_openDownRightAnimtionWithDurationTime:</string>
			<key>openUpLeft</key>
			<string>ytx_openUpLeftAnimtionWithDurationTime:</string>
			<key>openUpRight</key>
			<string>ytx_openUpRightAnimtionWithDurationTime:</string>

			<key>openDownLeftRetourn</key>
			<string>ytx_openDownLeftRetournAnimtionWithDurationTime:</string>
			<key>openDownRightRetourn</key>
			<string>ytx_openDownRightRetournAnimtionWithDurationTime:</string>
			<key>openUpLeftRetourn</key>
			<string>ytx_openUpLeftRetournAnimtionWithDurationTime:</string>
			<key>openUpRightRetourn</key>
			<string>ytx_openUpRightRetournAnimtionWithDurationTime:</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Static Effects Out</string>
		<key>sub</key>
		<dict>
			<key>openDownLeftOut</key>
			<string>ytx_openDownLeftOutAnimtionWithDurationTime:</string>
			<key>openDownRightOut</key>
			<string>ytx_openDownRightOutAnimtionWithDurationTime:</string>
			<key>openUpLeftOut</key>
			<string>ytx_openUpLeftOutAnimtionWithDurationTime:</string>
			<key>openUpRightOut</key>
			<string>ytx_openUpRightOutAnimtionWithDurationTime:</string>
		</dict>
	</dict>
</array>
</plist>
