<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Transformer</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>YTXGooeyCircleLayer</string>
				<key>function</key>
				<string>springAnimationWithDurationTime:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>YTXCountDownShowLayer</string>
				<key>function</key>
				<string>countDownAnimationWithDurationTime:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
